body { background: #11bdf8; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 38px; display: flex; }
.block-metrics-0 { color: #425e7a; font-size: 13px; margin-bottom: 5px; }
.block-uploader-1 { color: #c19143; font-size: 20px; margin-bottom: 5px; }
.block-helper-2 { color: #4f29eb; font-size: 14px; margin-bottom: 5px; }
.block-uploader-3 { color: #2f97c3; font-size: 13px; margin-bottom: 5px; }
.block-email-4 { color: #c4043; font-size: 14px; margin-bottom: 5px; }
.block-product-5 { color: #54ea32; font-size: 17px; margin-bottom: 5px; }
.block-helper-6 { color: #cd4a5b; font-size: 21px; margin-bottom: 5px; }
.block-product-7 { color: #1dbfad; font-size: 13px; margin-bottom: 5px; }
.block-cluster-8 { color: #fb4671; font-size: 18px; margin-bottom: 5px; }
.block-sms-9 { color: #d3dc7c; font-size: 18px; margin-bottom: 5px; }
.block-database-10 { color: #f90df7; font-size: 16px; margin-bottom: 5px; }
.block-logger-11 { color: #b13888; font-size: 16px; margin-bottom: 5px; }